body {
  background-color: #dde3ea;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3.5%;
}
h1 {
  text-align: center;
  padding: 15px;
}
.map {
  display: block;
  width: 450px;
  margin: 0 auto;
}
footer {
  text-align: center;
}
